// VARIABLES

// @import "partials/variables";

// Main
$teal: #33CC99;

$slate-light: #51677A;
$slate: #2C343B;
$slate-dark: #192025;

// Secondary 
$blue: #348FE2; 
$yellow: #F59C1A; 
$red: #FF5B57; 

// GLOBAL

// @import "partials/global";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html{ margin:0; padding:0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; font-family: 'Karla',Helvetica,Arial, sans-serif; }

h1 { font-size: 3rem; } 
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

h4, h5, h6 { font-weight: 700; }

h1, h2 { letter-spacing: -0.03em; }
h3, h4 { letter-spacing: -0.01em; }

h1,h2,h3,h4,h5,h6,p { padding: 0; margin: 0; }

.container {
	max-width: 1000px;
	padding:8px;
	margin: 0 auto;
	@media (maxi-width:800px){
		padding:8px;
	}
}

// HEADER

.site-header {
    z-index: 40;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 0 1em;
    background-color: #2c343b;
    transition: background-color .2s ease;
    display:flex;
    align-items: center;
    .container{
    	display: -ms-flexbox;
    	display: flex;
    	-ms-flex-align: center;
    	align-items: center;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
    	width:100%;
		svg {
			width: 140px;
			height: 40px;
		}
		a {
			color:white;
			font-size: 1.6rem;
			text-decoration: none;
		}
		a:hover, a:active {
			color: $teal;
		}
   }
}

// BODY

// .REPORT

.report .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	form {
		display:flex;
		justify-content: center;
		align-items: center;
		@media(max-width: 575px) {
			flex-direction: column;
			align-items: flex-end;
		}
	}
	form div {
		display:flex;
		align-items: center;
		@media(max-width: 575px) {
			margin:2px;
		}
	}
	.form__input {
		background-color: white;
		border-radius: 3px;
		border: 1px solid #ccc;
		outline: none;
		// font-family: "Karla",Helvetica,Arial,sans-serif;
		font-size: 1rem;
		padding: 0.6em;
		// margin: 0 0 1em 0;
		width: 100%;
		box-sizing: border-box;
		-webkit-transition: border-color 200ms;
		transition: border-color 200ms;
		@media(max-width: 575px) {
			padding: 3px;
		}
	}
	.form label {
		margin: 0 16px;
		font-size: 1.6rem;
		letter-spacing: -0.02px;
		color: #ccc;
		-webkit-transition: color 200ms;
		transition: color 200ms;
		display: block;
	}
	.form label.is-active {
	    color: #2C343B;
	}
	.btn {
		padding:6px;
		margin-left:16px;
		font-size: 1rem;
		letter-spacing: -0.02px;
		font-weight: 400;
		font-family: "Karla",Helvetica,Arial,sans-serif;
		border: 2px solid #3c9;
		border-radius: 3px;
		background-color: transparent;
		cursor: pointer;
		-webkit-transition: background-color 150ms, color 150ms;
		transition: background-color 150ms, color 150ms;
		color:$teal;
	}
	.btn:hover {
	    background-color: #3c9;
	    color: white;
	}
}

#tip .container {
	display:flex;
	justify-content: center;
	p {
		font-size: 1.6rem;
	}
}

.hidden {
	display:none;
}

// .SUMMARY

.summary .container {
	background: $slate-light;
	margin-bottom: 8px;
	.summary__top, .summary__bottom {
		display:flex;
		justify-content: space-around;
	}
	.summary__top {
		color:$teal;
		@media (max-width: 550px) {
			flex-direction: column;
		}
	}
	.summary__bottom {
		color:white;
		@media (max-width: 430px) {
			flex-direction: column;
		}
	}
	.summary__box {
		margin:8px;
		display:flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 430px) {
			margin:2px;
		}
	}
	.summary__top p:nth-of-type(1) {
		font-size: 4rem;
	}
	.summary__bottom p:nth-of-type(1) {
		font-size: 2.8rem;
	}
	.summary__box p:nth-of-type(2) {
		font-size: 1.2rem;
	}
}

// #DATA__SECTION

.data__section {
	width:100%;
	margin-bottom:8px auto;
	height:100%;
	.container {
		display:flex;
	}
	.data__left {
		width:400px;
		padding:8px;
		display:flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		background: rgb(233,233,233);
		p {
			font-size: 1.6rem;
		}
		p strong {
			font-size: 2rem;
		}
	}
	.data__right {
		width:100%;
		display:flex;
		flex-direction: column; 
		.data__box__top {
			display:flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			color: $teal;
			margin:8px;
			p:nth-of-type(1) {
			   font-size: 4rem;
			}
			p:nth-of-type(2) {
			   font-size: 1.6rem;
			}
		}
		.data__box__bottom {
			display:flex;
			justify-content: space-around;
			text-align: center;
			position: relative;
			margin-bottom: 8px;
		}
		.data__box p:nth-of-type(1) {
		   font-size: 3rem;
		}
		.data__box p:nth-of-type(2) {
		   font-size: 1.2rem;
		}
		.data__box {
			width:33%;
		}
		.data__box:nth-of-type(1) {
		   color: $red;
		}
		.data__box:nth-of-type(2) {
		   color: $blue;
		}
		.data__box:nth-of-type(3) {
		   color: $yellow;
		}
	}
}