article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

html {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Karla',Helvetica,Arial, sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

h4, h5, h6 {
  font-weight: 700; }

h1, h2 {
  letter-spacing: -0.03em; }

h3, h4 {
  letter-spacing: -0.01em; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1000px;
  padding: 8px;
  margin: 0 auto; }
  @media (maxi-width: 800px) {
    .container {
      padding: 8px; } }

.site-header {
  z-index: 40;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 1em;
  background-color: #2c343b;
  transition: background-color .2s ease;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .site-header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    .site-header .container svg {
      width: 140px;
      height: 40px; }
    .site-header .container a {
      color: white;
      font-size: 1.6rem;
      text-decoration: none; }
    .site-header .container a:hover, .site-header .container a:active {
      color: #33CC99; }

.report .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .report .container form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 575px) {
      .report .container form {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: end;
            align-items: flex-end; } }
  .report .container form div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 575px) {
      .report .container form div {
        margin: 2px; } }
  .report .container .form__input {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    padding: 0.6em;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 200ms; }
    @media (max-width: 575px) {
      .report .container .form__input {
        padding: 3px; } }
  .report .container .form label {
    margin: 0 16px;
    font-size: 1.6rem;
    letter-spacing: -0.02px;
    color: #ccc;
    transition: color 200ms;
    display: block; }
  .report .container .form label.is-active {
    color: #2C343B; }
  .report .container .btn {
    padding: 6px;
    margin-left: 16px;
    font-size: 1rem;
    letter-spacing: -0.02px;
    font-weight: 400;
    font-family: "Karla",Helvetica,Arial,sans-serif;
    border: 2px solid #3c9;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 150ms, color 150ms;
    color: #33CC99; }
  .report .container .btn:hover {
    background-color: #3c9;
    color: white; }

#tip .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  #tip .container p {
    font-size: 1.6rem; }

.hidden {
  display: none; }

.summary .container {
  background: #51677A;
  margin-bottom: 8px; }
  .summary .container .summary__top, .summary .container .summary__bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .summary .container .summary__top {
    color: #33CC99; }
    @media (max-width: 550px) {
      .summary .container .summary__top {
        -ms-flex-direction: column;
            flex-direction: column; } }
  .summary .container .summary__bottom {
    color: white; }
    @media (max-width: 430px) {
      .summary .container .summary__bottom {
        -ms-flex-direction: column;
            flex-direction: column; } }
  .summary .container .summary__box {
    margin: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 430px) {
      .summary .container .summary__box {
        margin: 2px; } }
  .summary .container .summary__top p:nth-of-type(1) {
    font-size: 4rem; }
  .summary .container .summary__bottom p:nth-of-type(1) {
    font-size: 2.8rem; }
  .summary .container .summary__box p:nth-of-type(2) {
    font-size: 1.2rem; }

.data__section {
  width: 100%;
  margin-bottom: 8px auto;
  height: 100%; }
  .data__section .container {
    display: -ms-flexbox;
    display: flex; }
  .data__section .data__left {
    width: 400px;
    padding: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    background: #e9e9e9; }
    .data__section .data__left p {
      font-size: 1.6rem; }
    .data__section .data__left p strong {
      font-size: 2rem; }
  .data__section .data__right {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .data__section .data__right .data__box__top {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      text-align: center;
      -ms-flex-direction: column;
          flex-direction: column;
      color: #33CC99;
      margin: 8px; }
      .data__section .data__right .data__box__top p:nth-of-type(1) {
        font-size: 4rem; }
      .data__section .data__right .data__box__top p:nth-of-type(2) {
        font-size: 1.6rem; }
    .data__section .data__right .data__box__bottom {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      text-align: center;
      position: relative;
      margin-bottom: 8px; }
    .data__section .data__right .data__box p:nth-of-type(1) {
      font-size: 3rem; }
    .data__section .data__right .data__box p:nth-of-type(2) {
      font-size: 1.2rem; }
    .data__section .data__right .data__box {
      width: 33%; }
    .data__section .data__right .data__box:nth-of-type(1) {
      color: #FF5B57; }
    .data__section .data__right .data__box:nth-of-type(2) {
      color: #348FE2; }
    .data__section .data__right .data__box:nth-of-type(3) {
      color: #F59C1A; }
